.taskContainer {
  padding: 1rem 0;
}

.taskList {
  flex: 0 0 auto;

  .taskListHeader {
    border-radius: 15px;
    width: 400px;
    margin: 0 0.75rem 1.5rem;
  }
}

.task {
  cursor: pointer;
  border-radius: 15px;
  width: 400px;
  margin: 0 0.75rem 1.5rem;
  background-color: white;
}

.taskThumbnail {
  width: calc(400px - 100px);
}
